/***************************/
/* Parameter label */
/***************************/

.pm-param a.dropdown-toggle {
    display: block;
    color: #cc4202;
    text-decoration: none;
    padding: 0px 0px 0px 10px;
    height: 48px;
}

.pm-param-label-wrapper{
    width: calc(100% - 52px);
    display: inline-block;
    vertical-align: middle;
}

.pm-param .open a, .pm-param .open a:hover
,.pm-param .open a:focus, .pm-param a:focus
{
    background-color: transparent;
}

/***************************/
/* Parameter expand button */
/***************************/
.pm-param .pm-param-expand-visibility-hidden{
    display: none;
}

.pm-param .pm-param-expand-btn{
    display: inline-block;
    vertical-align: middle;
    background: none;
    border: none;
    border-left: 1px solid hsla(32,11%,69%,.5);
    width: 48px;
    font-size: 1rem;
    padding: 0;
    height: 100%;
}

.pm-param .pm-param-expand-btn{
    outline: none;
}

.pm-param .pm-param-expand-btn-icon {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.pm-param .pm-param-expand-btn-icon:before {
    width: 40%;
    height: .125em;
    left: 30%;
    right: 0;
    top: calc(50% - .125em / 2);
}

.pm-param .pm-param-expand-btn-icon:after {
    width: .125em;
    height: 40%;
    top: 30%;
    bottom: 0;
    left: calc(50% - .125em / 2);
    transition: -webkit-transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear,-webkit-transform .2s linear;
}

.pm-param .pm-param-expand-btn-icon:after, .pm-param .pm-param-expand-btn-icon:before {
    content: "";
    position: absolute;
    background-color: #125687;
    border-radius: .125em;
}

.pm-param .open .pm-param-expand-btn-icon:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

/***************************/
/* Parameter value list */
/***************************/
.pm-param .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #f8f4f0;
    box-shadow: none;
    border-top: 1px solid rgba(185, 177, 167, 0.5);
    overflow-y: auto;
    height: 100%;
}

.pm-param.open .dropdown-menu {
    display: block;
}


/***************************/
/* Parameter value */
/***************************/
.pm-param .pm-param-value-list{
    padding: 0px;
    max-height: 300px;
}  

.pm-param .pm-param-value-list li{
    color: #565656;
    height: 30px;
    font-size: 12px;
    padding-left: 25px;
    box-sizing: border-box;
    display: block;
    border-bottom: 1px solid #e1e0e0;
    background-color: #f9f9f9;
    font-weight: bolder;
    line-height: 30px;
}

.pm-param .pm-param-value-list li:last-child {
    border-bottom: 0px none;
    vertical-align: middle;
}

.pm-param .pm-param-value-list li:hover{
    background-color: #e1e0e0;
}

.pm-param .pm-param-value-list li.level0 span{
    margin-left: 0;
}
.pm-param-value-list li.level1 span{
    margin-left: 10px;
}
.pm-param .pm-param-value-list li.level2 span{
    margin-left: 20px;
}
.pm-param .pm-param-value-list li.level3 span{
    margin-left: 30px;
}
.pm-param .pm-param-value-list li.level4 span{
    margin-left: 40px;
}
.pm-param-value-list li.level5 span{
    margin-left: 50px;
}
.pm-param .pm-param-value-list li.level6 span{
    margin-left: 60px;
}

.pm-param .pm-param-value-list .check-mark{
    display: none;
    font-size: 16px;
}

.pm-param .pm-param-value-list li.selected .check-mark{
    position: absolute;
    display: inline-block;
    right: 25px;
    margin-top: 5px;
}


/***************************/
/* parameter overlay */
/***************************/
.pm-param .param-value-overlay{
    background-color: rgba(250,250,250,.8);
    display: none;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.pm-param .loading .param-value-overlay{
    display: block;
}

.pm-param .pm-param-selected-labels{
    font-size: 10px;
    padding-left: 10px;
    color: #565656;
    position: absolute;
    display: inline-block;
    right: 55px;
}


