
.dc-chart .selected path, .dc-chart .selected circle {
    stroke-width: 1;
    stroke: #ccc;
    fill-opacity: 1;
    fill: #cc4202;
}

.dc-chart .deselected path, .dc-chart .deselected circle {
    stroke: none;
    fill-opacity: .5;
}

.dc-chart g.deselected path {
    fill: #71645f;
}

.dc-chart .pie-slice path {
	stroke-width: 1;
    stroke: #ccc;
}

.dc-select-menu {
    border: 1px solid #ccc;
    width: 170px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.dc-select-menu select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.dc-select-menu select:focus {
    outline: none;
}

.controlClass{
    float: left;
    margin-right: 40px;
}

.firstControl{
    margin-left: 15px;
}

.tick line {
	stroke-width: 0px;
	stroke: white;
}

.dc-chart .pie-slice {
	fill: white;
    font-size: 12px;
    cursor: pointer;
    font-family:PensioM;
}

.dc-chart .pie-slice.external {
    fill: white;
}

html{
	font-size: 85%
}


@font-face {
    font-family: pm-icons;
    src: url(resources/fonts/pm-icons.woff) format("woff"), url(resources/fonts/pm-icons.ttf) format("truetype");
}

@font-face {
    font-family: Pensio;
    src: url(resources/fonts/PensioSans-Normal.woff2) format("woff2"), url(resources/fonts/PensioSans-Normal.woff) format("woff"), url(resources/fonts/PensioSans-Normal.ttf) format("truetype");
}

@font-face {
    font-family: PensioM;
    font-weight: 700;
    src: url(resources/fonts/PensioSans-Medium.woff2) format("woff2"), url(resources/fonts/PensioSans-Medium.woff) format("woff"), url(resources/fonts/PensioSans-Medium.ttf) format("truetype");
}

.nki_wrapper {
	font-family: Pensio;
}
